fastapi
uvicorn
streamlit
python-dotenv
langchain
langchain-google-genai
pinecone-client
langchain-pinecone
requests
tqdm
sqlalchemy
psycopg2-binary
pandas
kagglehub
pydantic-settings
google-generativeai==0.8.5